.about {
  &__image {
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    img {
      margin: 0 auto;
      border-radius: 50%;
      max-width: 250px;
    }
  }
  &__widgets {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__widget {
    width: 100%;
    @media (min-width: 576px) {
      width: 50%;
    }
    @media (min-width: 1024px) {
      width: 25%;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  &__widget-icon {
    background: #2196f3;
    padding: 1.5rem;
    border-radius: 50%;
    svg {
      font-size: 5rem;
      color: #fff;
    }
  }
  &__widget-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  &__widget-info {
    line-height: 1.5;
  }
}
